<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
<!--
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
-->
<script src="/assets/javascript/jquery-3.4.1.min.js"></script> 
<script src="/assets/javascript/main.js"></script> 

<!--
https://realfavicongenerator.net
-->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!--
    Detect language and redirect if needed.
-->
<script type="text/javascript">
var pathname = window.location.pathname;
if (!pathname || pathname.length < 3 || (pathname.substring(1, 3) != 'fr' && pathname.substring(1, 3) != 'en'))  {
    var navigatorLanguage = navigator.language || navigator.userLanguage;
    if (navigatorLanguage && navigatorLanguage.substring(0, 2) == 'fr') {
        window.location.href = "/fr";    
    }
    else {
        window.location.href = "/en";
    }
}
</script>


<div class="languageSwitcher">
    <div class="languageSwitcherInner">
        <ul>
            <li class="en">en</li>
            <li class="fr">fr</li>
        </ul>
    </div>
</div>
