---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$line-height: 1.8;
$sans-serif: "Montserrat", sans-serif;
$serif: "Alegreya", serif;
//$sans-serif: "Raleway", sans-serif;
//$link-color: yellow;
//$type-size-1                  : 1.953em !default;//2.441em !default;  // ~39.056px
//$type-size-2                  : 1.563em !default;//1.953em !default;  // ~31.248px
//$type-size-3                  : 1.25em !default;//1.563em !default;  // ~25.008px
//$type-size-4                  : 1em !default;//1.25em !default;   // ~20px
//$type-size-5                  : 0.75em !default;//1em !default;      // ~16px
//$type-size-6                  : 0.6875em !default;//0.75em !default;   // ~12px
//$type-size-7                  : 0.625em !default;//0.6875em !default; // ~11px
//$type-size-8                  : 0.5 !default;//0.625em !default;  // ~10px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 12px; // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

div.quote {
  float: right;
  font-family: "Alegreya";
  width: 100%;
  text-align: right;
  padding-left: 0%;
  padding-bottom: 5px;
  font-size: 1.6em;
  font-style: normal;
}

div.quoteAuthor {
  float: right;
  font-family: "Alegreya";
  width: 100%;
  text-align: right;
  padding-left: 0%;
  padding-bottom: 20px;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h3.author__name {
  font-family: "Alegreya";
}

h3.author__name {
  font-size: 1.2em!important;
  font-family: "Alegreya"!important;
}

//a.site-title {
//  display: none;
//}

#site-nav a {
  font-family: "Alegreya";
  font-size: 30px;
}

a.site-title {
  font-size: 60px!important;
  font-weight: bold!important;
}

p {
  line-height: 1.8;
}

h1 {
  font-size: 36px;
}

a:focus {
  outline: none;
}

@media (min-width: 768px) {
  p.page__lead {
    font-size: 35px;
    font-family: "Alegreya";
    font-weight: bold;

  }

  div.page__hero--overlay div.wrapper {
    max-width: 600px;
    float: left;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  p.page__lead {
    font-size: 25px;
    font-family: "Alegreya";
    font-weight: bold;

  }

  div.page__hero--overlay div.wrapper {
    max-width: 500px;
    float: left;
    padding-right: 50px;
    padding-left: 50px;
  }
}

div.projectContainer1 {
  background-color:rgba(11, 9, 121, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

div.projectContainer2 {
  background-color:rgba(6, 201, 110, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

div.projectTitle {
  font-size: 20px;
  font-family: "Alegreya";
  font-weight: bold;
}

div.projectIntro {
  font-size: 1em;
  font-style: italic;
  padding-top: 10px;
  line-height: 1.8em;
}

div.projectDesc {
  font-size: 1em;
  padding-top: 10px;
  line-height: 1.8em;
}

div.languageSwitcher {
  font-size: 1.2em;
}

div.languageSwitcher div.languageSwitcherInner {
  float: right;
  padding-right: 16px;
  line-height: 0.1em;
  font-family: "Alegreya";
}

div.languageSwitcher ul li {
  display: inline;
}

div.languageSwitcher ul li + li::before {
  content: " | ";
}

.masthead__inner-wrap {
  padding-top: 0px;
}


/* Priority plus navigation ========================================================================== */
.greedy-nav-custom { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 2em; background: #fff; }
.greedy-nav-custom a { display: block; margin: 0 1rem; color: #6f777d; text-decoration: none; }
.greedy-nav-custom a:hover { color: #53595e; }
.greedy-nav-custom a.site-logo { margin-left: 0; margin-right: 0.5rem; }
.greedy-nav-custom a.site-title { margin-left: 0; }
.greedy-nav-custom__toggle { -ms-flex-item-align: center; align-self: center; height: 2rem; border: 0; outline: none; background-color: transparent; cursor: pointer; }
.greedy-nav-custom .visible-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden; }
.greedy-nav-custom .visible-links li { -webkit-box-flex: 0; -ms-flex: none; flex: none; }
.greedy-nav-custom .visible-links a { position: relative; }
.greedy-nav-custom .visible-links a:before { content: ""; position: absolute; left: 0; bottom: 0; height: 4px; background: #6f777d; width: 100%; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scaleX(0) translate3d(0, 0, 0); transform: scaleX(0) translate3d(0, 0, 0); }
.greedy-nav-custom .visible-links a:hover:before { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }
.greedy-nav-custom .hidden-links { position: absolute; top: 100%; right: 0; margin-top: 15px; padding: 5px; border: 1px solid #f2f3f3; border-radius: 4px; background: #fff; -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.greedy-nav-custom .hidden-links.hidden { display: none; }
.greedy-nav-custom .hidden-links a { margin: 0; padding: 10px 20px; font-size: 1em; }
.greedy-nav-custom .hidden-links a:hover { color: #53595e; background: #dbdddf; }
.greedy-nav-custom .hidden-links:before { content: ""; position: absolute; top: -11px; right: 10px; width: 0; border-style: solid; border-width: 0 10px 10px; border-color: #f2f3f3 transparent; display: block; z-index: 0; }
.greedy-nav-custom .hidden-links:after { content: ""; position: absolute; top: -10px; right: 10px; width: 0; border-style: solid; border-width: 0 10px 10px; border-color: #fff transparent; display: block; z-index: 1; }
.greedy-nav-custom .hidden-links li { display: block; border-bottom: 1px solid #f2f3f3; }
.greedy-nav-custom .hidden-links li:last-child { border-bottom: none; }

.no-js .greedy-nav-custom .visible-links { -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: visible; }