---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$line-height: 1.8;
$sans-serif: "Montserrat", sans-serif;
$serif: "Alegreya", serif;
//$sans-serif: "Raleway", sans-serif;
//$link-color: yellow;
//$type-size-1                  : 1.953em !default;//2.441em !default;  // ~39.056px
//$type-size-2                  : 1.563em !default;//1.953em !default;  // ~31.248px
//$type-size-3                  : 1.25em !default;//1.563em !default;  // ~25.008px
//$type-size-4                  : 1em !default;//1.25em !default;   // ~20px
//$type-size-5                  : 0.75em !default;//1em !default;      // ~16px
//$type-size-6                  : 0.6875em !default;//0.75em !default;   // ~12px
//$type-size-7                  : 0.625em !default;//0.6875em !default; // ~11px
//$type-size-8                  : 0.5 !default;//0.625em !default;  // ~10px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 12px; // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

div.quote {
  float: right;
  font-family: "Alegreya";
  width: 100%;
  text-align: right;
  padding-left: 0%;
  padding-bottom: 5px;
  font-size: 1.6em;
  font-style: normal;
}

div.quoteAuthor {
  float: right;
  font-family: "Alegreya";
  width: 100%;
  text-align: right;
  padding-left: 0%;
  padding-bottom: 20px;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h3.author__name {
  font-family: "Alegreya";
}

h3.author__name {
  font-size: 1.2em!important;
  font-family: "Alegreya"!important;
}

a.site-title {
  display: none;
}

p {
  line-height: 1.8;
}
